<% @feed_courses.each do |course| %>
  <div class="bg-white rounded-md mb-2">
    <div class="mx-2 py-2">
        <div class='flex items-center px-5 py-3'>
            <img class='w-10 h-10 object-cover rounded-full' alt='User avatar' src='https://i.pravatar.cc/200?u=007'>
            <div class='mx-3'>
              <p class=' font-medium text-gray-600 '>
                <span class="font-semibold"><%= course.user.full_name %></span> -
                <%= link_to 'Créer exercice', new_course_exercice_path(course), class:"text-blue-600" %>
              </p>
            </div>
        </div>

      <!-- Course title-->
      <div class="font-semibold text-xl pb-4">
        <%= course.title %>
      </div>
      <!-- Course content-->
      <div class="border border-1 rounded-md m-2">
        <div class="m-2">
            <%= link_to course_path(course), class:"hover:text-black text-black no-underline" do %>
              <%= truncate(strip_tags(course.content.to_s.html_safe), length: 700) %>
              <span class="bg-blue-200 rounded-md" id=start-reading><i class="mx-2">voir plus ...</i></span>
            <% end %>
        </div>
      </div>
      <!-- metadata -->
      <div class="bg-gray-200 text-sm flex font-bold">
        
      <!-- show exercices -->
        <div class="mt-2 w-3/4 flex flex-wrap content-start text-sm">
          <div class="mx-4 p-2 lg:mr-8"> 
            <%= link_to course_path(course), class:"hover:text-black text-black no-underline" do %>
              <i class="fas fa-chalkboard-teacher"></i> Exercices  
            <% end %>
          </div>
        </div>
      <!-- show  -->
        <div class="mt-2 w-1/4 flex ">
        <div class="mr-4 p-2">
          <% if :students? %>
            <i class="fas fa-chevron-right"></i> Traité
          <% else %>
            <i class="fas fa-users-class"></i>Voir Resultats
          <% end %>
        </div>
      </div>

      </div>
    </div>
  </div>
<% end %>
