<% @feed_courses.each do |course| %>
  <div class="bg-white rounded-md mb-2">
    <div class="mx-2 py-2">
      

      <div class='flex items-center px-5 py-3'>
            <img class='w-10 h-10 object-cover rounded-full' alt='User avatar' src='https://i.pravatar.cc/200?u=007'>
            <div class='mx-3'>
              <p class=' font-medium text-gray-600 '>
                <span class="font-semibold"><%= course.user.full_name %></span> -
                <%= link_to 'Créer exercice', new_course_exercice_path(course), class:"text-blue-600" %>
              </p>
            </div>
        </div>

      <!-- Course title-->
      <div class="font-semibold text-xl pb-4">
        <%= course.title %>
      </div>
      <!-- Course content-->
      <div class="border border-1 rounded-md m-2">
        <div class="m-2">
          <div class="" id="preview-section">
            <%= course.content %>
            <span class="bg-blue-200" id=start-reading>voir plus ...</span>
          </div>
          <div class="block hidden" id="full-section">
            pl
          </div>
        </div>
      </div>
      <!-- metadata -->
      <div class="bg-gray-200 p-2 text-sm flex">
        <%= render "home/feed/down_bar.html.erb" %>
      </div>
    </div>
  </div>
<% end %>
