<nav class="navbar navbar-expand-lg navbar-light bg-blue-500 fixed-top">
  <div class="container-fluid ">
      <div class="ml-40">
        <%= link_to root_path, class:"navabr-brand text-white no-underline" do %>
          <p class="font-bold  text-2xl md:text-3xl">
            <span class="bg-blue-500 text-white">Ln</span><span class="">class</span>
          </p>
        <% end %>
      </div>

        <!-- Student onglets-->
      <% if user_role?(current_user) ==  :student? %>
        <div class="block md:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white" type="button" data-bs-toggle="collapse" data-bs-target="#Abonnez" aria-controls="LnNavbar" aria-expanded="false" aria-label="Toggle navigation">
          S'abonnez
            <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
      <% else %>
         <div class="block md:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white" type="button" data-bs-toggle="collapse" data-bs-target="#LnNavbar" aria-controls="LnNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
      <% end %>

     <div class="block md:hidden">
      <div class="collapse navbar-collapse text-black font-bold" id="Abonnez">
        <div class="nav-item">
            <span class=""> Contactez Mr. Kara au 0544320020</span>
        </div>
        <div class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete , class:"nav-link text-black font-bold" do %>
            <span><i class="fas fa-sign-out-alt"></i> Déconnecter</span>
          <% end %>
        </div>
      </div>
     </div>
      <div class="collapse navbar-collapse text-black font-bold" id="LnNavbar">
        <div class="nav-item">
          <%= link_to root_path, class:'nav-link text-black active  md:ml-12' do %>
            <span class=""> <i class="fa fa-home" aria-current="page"></i>Accueil</span>
          <% end %>
        </div>
        <!-- Teacher onglets-->
        <% if user_role?(current_user) != ":student?"  %>
        <div class="nav-item md:ml-48">
          <%= link_to lesson_path, class:'nav-link text-black font-bold' do %>
            <span class=""><i class="fa fa-plus-circle"></i> Créations </span>  
          <% end %>
        </div>
          
        <div class="nav-item">
          <%= link_to espace_enseignant_path, class:'nav-link text-black font-bold' do %>
            <span class=""><i class="fas fa-users"></i> Espace Professeur</span> 
          <% end %>
        </div>
        <% end %>
        <div class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete , class:"nav-link text-black font-bold" do %>
            <span><i class="fas fa-sign-out-alt"></i> Déconnecter</span>
          <% end %>
        </div>
      </div>
    </div>
</nav>