<%= form_with(model: exercice) do |form| %>
  <% if exercice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercice.errors.count, "error") %> prohibited this exercice from being saved:</h2>

      <ul>
        <% exercice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.check_box :published %>
  </div>

  <div class="field">
    <%= form.label :classroom_id %>
    <%= form.text_field :classroom_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
