<!DOCTYPE html>
  <html lang="fr">
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="<%= description %>">
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    
     <!-- media tailwind css -->
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Favicon-->
    <%= favicon_link_tag asset_path('flavico.png'), size:"32x32" %>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css' rel="styesheet">
  </head>

  <body >
   <%= render 'shared/flash_notice' %> 
    <%= yield %>
   
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>


